@using CodeStudy.Models
@model ProblemDTO
@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css" integrity="sha512-uHuCigcmv3ByTqBQQEwngXWk7E/NaPYP+CFglpkXPnRQbSubJmEENgh+itRDYbWV0fUZmUz7fD/+JDdeQFD5+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/Problem/index.css" rel="stylesheet" />
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-xl-9">
            <div class="bg-light rounded p-4">
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h4 class="text-center m-auto">@Model.Name</h4><span class="badge bg-danger">Báo lỗi</span>
                </div>
            @Html.Raw(Model.Description)
            </div>
            <form class="bg-light rounded p-4 mt-3" id="form" asp-action="Submit" asp-controller="Submission" asp-route-id="@Model.ID" method="POST">
                <div class="d-flex align-items-center mb-3" id="wrapper">
                    <label>Ngôn ngữ: </label>
                    <select class="ms-3" id="language_Selector" name="language">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                    </select>
                </div>
                <div id="codeBlock"></div>
                <button type="submit" class="mt-3 btn btn-primary @(User.Identity.IsAuthenticated ? "" : "disabled")">Nộp bài</button>
            </form>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="bg-light p-4 rounded">
                <h6>Thông tin chi tiết</h6>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Tác giả</span><span>@Model.Author.Username</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Tag</span>
                        <span>
                            @foreach (TagDTO tag in Model.Tags) {
                                <span class="badge bg-primary">@tag.Name</span>
                            }
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>
                            Chế độ
                            I/O
                        </span><span>Standard</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>
                            Ngày
                            tạo
                        </span><span>@Model.CreatedAt.ToString("dd/MM/yyyy")</span>
                    </li>
                </ul>
            </div>
            <ul class="list-group mt-3 bg-light p-4 rounded">
                <li class="list-group-item d-flex justify-content-between">
                    <a href=""
                       class="text-decoration-none">Nộp bài</a>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <a href=""
                       class="text-decoration-none">Danh sách bài nộp</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/CodeFlask.js/1.4.1/codeflask.min.js"
        integrity="sha512-Bf/Qkbt7wQQq5+DSLtN5E/IoNnxmdCw5D8TibX466Vcr9JZVw45dENcw5Xcty1NZByDJ1nm7kWJq05ujIC5DHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"
        integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-c.min.js"
        integrity="sha512-EWIJI7uQnA8ClViH2dvhYsNA7PHGSwSg03FAfulqpsFiTPHfhdQIvhkg/l3YpuXOXRF2Dk0NYKIl5zemrl1fmA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-cpp.min.js"
        integrity="sha512-/kakiUcgosfrW14dYIe0cMjXoK6PN67r96Dz2zft/Rlm6TcgdCJjb6ZD/jpobHzduAs8NdSeMQHda8iJGkjdow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-java.min.js"
        integrity="sha512-BEknrL2CnuVpqnSTwO4a9y9uW5bQ/nabkJeahZ5seRXvmzAMq59Ja9OxZe3lVGrnKEcVlamL4nUBl03wzPM/nA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/Problem/index.js"></script>
}